[API]
URL = https://demo4497344.mockable.io/api/v1

[DB]
KAS_CONNECTION_STRING = DRIVER={MySQL};SERVER=;DATABASE=;USER=;PASSWORD=;OPTION=3;
GLOC_CONNECTION_STRING = DRIVER={ODBC Driver 17 for SQL Server};SERVER=;UID=;PWD=;